<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-outlines">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>okDo</title>
    <link rel="icon" href="img/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/calendar.css">
    
</head>
<body>
    <div id="app" class="app">
        <div id="home-page"
             class="home-page"
             :style="{width: resizeHeader.width + 'px'}"
        >
            <div class="home-page--main">
                <div class="top">
                    <button v-show="loginUser == null"
                            @click="sw.login = !sw.login"
                            class="login-btn"
                            type="button">
                        <span>登录 / 注册</span>
                    </button>
                    
                    <button v-show="loginUser != null"
                            :class="[sw.userMenu ? 'active-nav' : '', 'user-menu-bt']"
                            @click="sw.userMenu = !sw.userMenu"
                    >
                        <img src="img/logo.png" alt="">
                        <span>个人空间</span>
                        <span class="font-icon"></span>
                    </button>
                    
                    <div class="top-nav">
                        <button class="font-icon"></button>
                        <button @click="homeHide" class="font-icon"></button>
                    </div>
                
                </div>
                <div class="quick-nav">
                    <ul>
                        <li><a class="active-nav" href="#"><span class="font-icon active-icon"></span><span>待办</span></a></li>
                        <li><a href="#"><span class="font-icon"></span><span>待办</span></a></li>
                        <li><a href="#"><span class="font-icon"></span><span>待办</span></a></li>
                    </ul>
                </div>
                <div class="other-nav">
                    <h4>更多</h4>
                    <ul>
                        <li><a href="#"><span class="font-icon"></span><span>待办</span></a></li>
                        <li><a href="#"><span class="font-icon"></span><span>待办</span></a></li>
                        <li><a href="#"><span class="font-icon"></span><span>待办</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="resize-handle" @mousedown="startResize"></div>
            
        </div>
        
        <button class="menu-aside-expand" @click="homeShow"
                v-show="sw.homeHide"
        >
            <span class="font-icon"></span>
        </button>
        
        <div class="mc">
            <div class="calendar">
                <div ref="calendarEl"
                     class="calendar--main"
                >
                
                </div>
            </div>
        </div>
        
        <div class="user-mask" v-show="sw.login"></div>
        
        <div id="login-w" class="login-w" v-show="sw.login">
            <div class="lf">
                <div class="logo"><img src="img/logo.png" alt=""></div>
            </div>
            <div class="rt">
                <div class="title">欢迎使用 okDo</div>
                <div class="login-type">
                    <button @click="loginForm.type = 'email'"
                            :class="[loginForm.type == 'email' ? 'choose-type' : '']"
                    >
                        邮箱登录
                    </button>
                    <button @click="loginForm.type = 'password'"
                            :class="[loginForm.type == 'password' ? 'choose-type' : '']"
                    >
                        密码登录
                    </button>
                </div>
                <form @submit.prevent="handleLogin">
                    <ul>
                        <li>
                            <input type="email"
                                   v-model="loginForm.receiver"
                                   placeholder="请输入邮箱账号"
                                   maxlength="50"
                                   autocomplete="off"
                            >
                        </li>
                        <li v-show="loginForm.type == 'email'">
                            <input type="text"
                                   v-model="loginForm.verifyCode"
                                   placeholder="验证码"
                                   maxlength="6"
                                   autocomplete="off"
                            >
                            <button :disabled="loginContext.isSentCode"
                                    @click="sendCode"
                                    type="button"
                                    class="codeBtn"
                            >
                                {{loginContext.codeMsg}}
                            </button>
                        </li>
                        <li v-show="loginForm.type == 'password'">
                            <input type="password"
                                   v-model="loginForm.password"
                                   placeholder="请输入密码"
                                   maxlength="50"
                                   autocomplete="off"
                            >
                        </li>
                    </ul>
                    <p v-show="loginContext.isSentCode"
                       class="success-remain">
                        <span class="font-icon"></span>
                        邮箱验证码已发送，可能会有延后，请耐心等待
                    </p>
                    <p v-show="loginContext.errorRemain != null"
                       class="error-remain">
                        {{loginContext.errorRemain}}
                    </p>
                    <button class="submit" type="submit">登录 / 注册</button>
                    <label class="agree" for="checkbox">
                        <input type="checkbox"
                               id="checkbox"
                               v-model="loginContext.isAccept"
                        >
                        我已阅读并同意 <a href="#">用户协议</a>、<a>隐私政策</a>
                    </label>
                </form>
            </div>
            <button class="close" @click="closeLoginWindow"><span class="font-icon"></span></button>
        
        </div>
        
        <div class="user-menu" v-show="sw.userMenu">
            <div class="user-menu--main">
                <ul class="bottom">
                    <li @click="logout"><a href="#"><span class="font-icon"></span><span>退出</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    
    
    
    <script src="plugins/vue/vue.global.js"></script>
    <script src='plugins/fullcalendar-6.1.15/dist/index.global.js'></script>
    <script src='js/api/calendar.js'></script>
    <script src="js/entity.js"></script>
    <script src="js/api/login.js"></script>
    <script src="js/validate.js"></script>
    <script src="plugins/axios/axios.min.js"></script>
    <script src="js/request.js"></script>
    <script src="js/common.js"></script>
    <script src="js/api/index.js"></script>
    
</body>
</html>
