:root {
    --color--black-05: rgba(18, 17, 42, .01);
    --color--black-10: rgba(18, 17, 42, .03);
    --color--black-20: rgba(18, 17, 42, .05);
    --color--black-30: rgba(18, 17, 42, .07);
    --color--black-40: rgba(6, 6, 31, .09);
    --color--black-50: rgba(2, 9, 16, .13);
    --color--black-60: rgba(6, 13, 20, .18);
    --color--black-70: rgba(6, 13, 20, .29);
    --color--black-80: rgba(4, 9, 13, .37);
    --color--black-90: rgba(7, 11, 15, .47);
    --color--black-100: rgba(6, 8, 10, .57);
    --color--black-110: rgba(6, 8, 10, .69);
    --color--black-120: rgba(12, 14, 16, .79);
    --color--black-130: rgba(14, 15, 17, .86);
    --color--black-132: rgba(14, 15, 17, .86);
    --color--black-134: rgba(15, 16, 18, .93);
    --color--black-140: rgba(15, 16, 18, .93);
    --color--black-150: rgba(15, 16, 18, .93);
    --color--grey-05: #fbfbfb;
    --color--grey-10: #f7f7f9;
    --color--grey-20: #f3f3f5;
    --color--grey-30: #edeef0;
    --color--grey-40: #e6e8eb;
    --color--grey-50: #dedfe0;
    --color--grey-60: #d0d2d4;
    --color--grey-70: #b7b9bd;
    --color--grey-80: #a2a4a8;
    --color--grey-90: #8b8c8f;
    --color--grey-100: #717273;
    --color--grey-110: #555557;
    --color--grey-120: #414142;
    --color--grey-130: #303030;
    --color--grey-132: #262626;
    --color--grey-134: #212121;
    --color--grey-140: #19191a;
    --color--white-00: #fff;
    --color--white-05: rgba(255, 255, 255, .99);
    --color--white-10: rgba(255, 255, 255, .97);
    --color--white-20: rgba(255, 255, 255, .95);
    --color--white-30: rgba(255, 255, 255, .93);
    --color--white-40: rgba(255, 255, 255, .91);
    --color--white-50: rgba(255, 255, 255, .87);
    --color--white-60: rgba(255, 255, 255, .82);
    --color--white-70: rgba(255, 255, 255, .82);
    --color--white-80: rgba(255, 255, 255, .82);
    --color--white-90: rgba(255, 255, 255, .55);
    --color--white-100: rgba(255, 255, 255, .45);
    --color--white-110: rgba(255, 255, 255, .33);
    --color--white-120: rgba(255, 255, 255, .26);
    --color--white-130: rgba(255, 255, 255, .19);
    --color--white-132: rgba(255, 255, 255, .15);
    --color--white-134: rgba(255, 255, 255, .13);
    --color--white-140: rgba(255, 255, 255, .1);
    --color--white-150: rgba(255, 255, 255, .08);
    --color--white-160: rgba(255, 255, 255, .05);
    --color--white-170: rgba(255, 255, 255, .03);
    --color--brand-10: #f6f4ff;
    --color--brand-20: #f0eaff;
    --color--brand-30: #e4dbff;
    --color--brand-40: #d7c9ff;
    --color--brand-50: #c7b4ff;
    --color--brand-60: #baa4ff;
    --color--brand-70: #a68cff;
    --color--brand-80: #9072ff;
    --color--brand-90: #7856ff;
    --color--brand-100: #6041da;
    --color--brand-110: #4c31b7;
    --color--brand-120: #3b1f99;
    --color--brand-tsp-10: rgba(75, 35, 255, .05);
    --color--brand-tsp-20: rgba(88, 22, 255, .09);
    --color--brand-tsp-30: rgba(75, 15, 255, .15);
    --color--brand-tsp-40: rgba(73, 10, 255, .22);
    --color--brand-tsp-50: rgba(68, 5, 255, .3);
    --color--brand-tsp-60: rgba(63, 2, 255, .36);
    --color--red-10: #fff4f1;
    --color--red-20: #ffebe5;
    --color--red-30: #ffded6;
    --color--red-40: #ffccc1;
    --color--red-50: #ffb3a2;
    --color--red-60: #ff957f;
    --color--red-70: #ff765f;
    --color--red-80: #ff5340;
    --color--red-90: #f43529;
    --color--red-100: #d92400;
    --color--red-110: #af0001;
    --color--red-120: #790d00;
    --color--red-tsp-10: rgba(255, 72, 22, .06);
    --color--red-tsp-20: rgba(255, 73, 19, .11);
    --color--red-tsp-30: rgba(255, 61, 14, .17);
    --color--red-tsp-40: rgba(255, 51, 7, .25);
    --color--red-tsp-50: rgba(255, 50, 4, .37);
    --color--red-tsp-60: rgba(255, 47, 4, .51);
    --color--orange-10: #fff5eb;
    --color--orange-20: #ffeedc;
    --color--orange-30: #ffe3ca;
    --color--orange-40: #ffd6ad;
    --color--orange-50: #ffc68a;
    --color--orange-60: #ffb45d;
    --color--orange-70: #ffa225;
    --color--orange-80: #fe8b00;
    --color--orange-90: #f97316;
    --color--orange-100: #e35d00;
    --color--orange-110: #b24000;
    --color--orange-120: #772b00;
    --color--orange-tsp-10: rgba(255, 130, 5, .08);
    --color--orange-tsp-20: rgba(255, 134, 5, .14);
    --color--orange-tsp-30: rgba(255, 122, 3, .21);
    --color--orange-tsp-40: rgba(255, 131, 7, .33);
    --color--orange-tsp-50: rgba(255, 131, 1, .46);
    --color--orange-tsp-60: rgba(255, 138, 2, .64);
    --color--yellow-10: #fbf4e2;
    --color--yellow-20: #faeece;
    --color--yellow-30: #fde9b1;
    --color--yellow-40: #fae090;
    --color--yellow-50: #f8da75;
    --color--yellow-60: #f6d15b;
    --color--yellow-70: #f3c943;
    --color--yellow-80: #f1c024;
    --color--yellow-90: #eab308;
    --color--yellow-100: #d59c00;
    --color--yellow-110: #d59c00;
    --color--yellow-120: #755100;
    --color--yellow-tsp-10: rgba(222, 163, 13, .12);
    --color--yellow-tsp-20: rgba(230, 170, 10, .2);
    --color--yellow-tsp-30: rgba(249, 184, 3, .31);
    --color--yellow-tsp-40: rgba(244, 185, 3, .44);
    --color--yellow-tsp-50: rgba(242, 188, 4, .55);
    --color--yellow-tsp-60: rgba(241, 184, 3, .65);
    --color--green-10: #e4fbe5;
    --color--green-20: #caf8c2;
    --color--green-30: #b0f7a6;
    --color--green-40: #92f388;
    --color--green-50: #7aec6a;
    --color--green-60: #61e054;
    --color--green-70: #4ed23a;
    --color--green-80: #3ec01e;
    --color--green-90: #3fae00;
    --color--green-100: #299a0c;
    --color--green-110: #237800;
    --color--green-120: #184b00;
    --color--green-tsp-10: rgba(10, 219, 19, .11);
    --color--green-tsp-20: rgba(34, 226, 1, .24);
    --color--green-tsp-30: rgba(29, 232, 1, .35);
    --color--green-tsp-40: rgba(23, 229, 2, .47);
    --color--green-tsp-50: rgba(30, 223, 2, .59);
    --color--green-tsp-60: rgba(23, 209, 4, .68);
    --color--cyan-10: #eefcfc;
    --color--cyan-20: #c3fafa;
    --color--cyan-30: #97f7fa;
    --color--cyan-40: #64f2f1;
    --color--cyan-50: #2be9e9;
    --color--cyan-60: #03dcdb;
    --color--cyan-70: #01cdcc;
    --color--cyan-80: #06bdbb;
    --color--cyan-90: #06aaa7;
    --color--cyan-100: #009292;
    --color--cyan-110: #01706f;
    --color--cyan-120: #004746;
    --color--cyan-tsp-10: rgba(12, 212, 212, .07);
    --color--cyan-tsp-20: rgba(5, 234, 234, .24);
    --color--cyan-tsp-30: rgba(1, 235, 243, .41);
    --color--cyan-tsp-40: rgba(1, 234, 232, .61);
    --color--cyan-tsp-50: rgba(3, 229, 229, .84);
    --color--cyan-tsp-60: rgba(0, 220, 219, .99);
    --color--blue-10: #e9f4ff;
    --color--blue-20: #d8ebfe;
    --color--blue-30: #c0e0fe;
    --color--blue-40: #aad6fe;
    --color--blue-50: #92cafe;
    --color--blue-60: #81bffe;
    --color--blue-70: #67b5ff;
    --color--blue-80: #4ea8ff;
    --color--blue-90: #2e9cfe;
    --color--blue-100: #018be5;
    --color--blue-110: #0069b0;
    --color--blue-120: #004572;
    --color--blue-tsp-10: rgba(11, 133, 255, .09);
    --color--blue-tsp-20: rgba(11, 130, 249, .16);
    --color--blue-tsp-30: rgba(3, 131, 251, .25);
    --color--blue-tsp-40: rgba(5, 134, 252, .34);
    --color--blue-tsp-50: rgba(2, 132, 253, .43);
    --color--blue-tsp-60: rgba(3, 127, 253, .5);
    --color--purple-10: #f7f3ff;
    --color--purple-20: #f2ebff;
    --color--purple-30: #e7dcff;
    --color--purple-40: #dacafd;
    --color--purple-50: #cbb1fc;
    --color--purple-60: #b99afc;
    --color--purple-70: #a97ffc;
    --color--purple-80: #9863ff;
    --color--purple-90: #8848f9;
    --color--purple-100: #761cf5;
    --color--purple-110: #5b00c3;
    --color--purple-120: #3f0089;
    --color--purple-tsp-10: rgba(95, 15, 255, .05);
    --color--purple-tsp-20: rgba(93, 5, 255, .08);
    --color--purple-tsp-30: rgba(84, 5, 255, .14);
    --color--purple-tsp-40: rgba(79, 3, 245, .21);
    --color--purple-tsp-50: rgba(87, 3, 245, .31);
    --color--purple-tsp-60: rgba(80, 3, 248, .4);
    --color--magenta-10: #fff3f7;
    --color--magenta-20: #ffe8ef;
    --color--magenta-30: #ffdae8;
    --color--magenta-40: #ffc2d9;
    --color--magenta-50: #ffa8ca;
    --color--magenta-60: #ff8bbb;
    --color--magenta-70: #ff6bab;
    --color--magenta-80: #ff469f;
    --color--magenta-90: #f71c96;
    --color--magenta-100: #de147f;
    --color--magenta-110: #b10e69;
    --color--magenta-120: #b10e69;
    --color--magenta-tsp-10: rgba(255, 15, 95, .05);
    --color--magenta-tsp-20: rgba(255, 25, 95, .1);
    --color--magenta-tsp-30: rgba(255, 8, 102, .15);
    --color--magenta-tsp-40: rgba(255, 1, 97, .24);
    --color--magenta-tsp-50: rgba(255, 6, 104, .35);
    --color--magenta-tsp-60: rgba(255, 3, 107, .46);
    --color--bg-body-base: var(--color--grey-20);
    --color--bg-body: var(--color--white-00);
    --color--bg-body-overlay: var(--color--grey-10);
    --color--bg-float-base: var(--color--grey-30);
    --color--bg-float: var(--color--white-00);
    --color--bg-float-overlay: var(--color--grey-10);
    --color--bg-navigation: var(--color--grey-05);
    --color--bg-hover: var(--color--black-20);
    --color--bg-hover-secondary: var(--color--black-10);
    --color--bg-press: var(--color--black-30);
    --color--bg-brand-press: var(--color--brand-100);
    --color--bg-brand-normal: var(--color--brand-90);
    --color--bg-brand-hover: var(--color--brand-80);
    --color--bg-brand-disable: var(--color--brand-40);
    --color--bg-button-hover: var(--color--black-20);
    --color--bg-button-blue: #ece8ff;
    --color--bg-button-blue-hover: #e1dbff;
    --color--bg-button-active: var(--color--brand-tsp-20);
    --color--bg-button-active-hover: var(--color--brand-tsp-30);
    --color--bg-button-normal: var(--color--black-10);
    --color--bg-dropdown: var(--color--white-00);
    --color--bg-danger-press: var(--color--red-100);
    --color--bg-danger-normal: var(--color--red-90);
    --color--bg-danger-hover: var(--color--red-80);
    --color--bg-danger-disable: var(--color--red-60);
    --color--bg-success-normal: var(--color--green-90);
    --color--bg-warning-normal: var(--color--orange-90);
    --color--bg-info-normal: var(--color--blue-90);
    --color--bg-selected: var(--color--brand-20);
    --color--bg-bm-profilephoto: var(--color--grey-30);
    --color--bg-bm-warning-secondary: #f9d55b;
    --color--bg-bm-info-banner: var(--color--blue-20);
    --color--bg-bm-danger-hover: rgba(244, 53, 41, .1);
    --color--bg-bm-text-active: rgba(46, 156, 254, .3);
    --color--bg-bm-toolbar: var(--color--black-90);
    --color--bg-bm-canvas: var(--color--grey-20);
    --color--bg-bm-chat-primary: var(--color--brand-30);
    --color--bg-bm-chat-secondary: var(--color--grey-20);
    --color--bg-bm-brand-active: var(--color--brand-tsp-20);
    --color--bg-bm-block: var(--color--black-10);
    --color--bg-bm-note: #fbf7c0;
    --color--bg-board: var(--color--grey-05);
    --color--bg-onfunctionandbrand: var(--color--white-00);
    --color--bg-onfunctionandbrand-hover: var(--color--grey-30);
    --color--text-primary: var(--color--grey-140);
    --color--text-secondary: var(--color--grey-110);
    --color--text-tertiary: var(--color--grey-90);
    --color--text-quaternary: var(--color--grey-70);
    --color--text-onfunctionandbrand: var(--color--white-00);
    --color--text-onfunctionandbrand-disable: var(--color--white-100);
    --color--text-brand-normal: var(--color--brand-100);
    --color--text-brand-hover: var(--color--brand-80);
    --color--text-brand-press: var(--color--brand-110);
    --color--text-brand-tertiary: var(--color--brand-60);
    --color--text-brand-disabled: var(--color--brand-40);
    --color--text-danger-normal: var(--color--red-100);
    --color--text-danger-hover: var(--color--red-90);
    --color--text-danger-press: var(--color--red-110);
    --color--text-danger-disable: var(--color--red-60);
    --color--text-success-normal: var(--color--green-100);
    --color--text-warning-normal: var(--color--orange-100);
    --color--text-info-normal: var(--color--blue-100);
    --color--icon-primary: var(--color--grey-120);
    --color--icon-secondary: var(--color--grey-80);
    --color--icon-tertiary: var(--color--grey-60);
    --color--icon-bm-tertiary: var(--color--grey-100);
    --color--icon-quaternary: #9da7b7;
    --color--icon-onfunctionandbrand: var(--color--white-00);
    --color--icon-brand-normal: var(--color--brand-100);
    --color--icon-brand-hover: var(--color--brand-80);
    --color--icon-brand-press: var(--color--brand-110);
    --color--icon-brand-tertiary: var(--color--brand-40);
    --color--icon-brand-disable: var(--color--brand-40);
    --color--border-primary: var(--color--black-30);
    --color--border-secondary: var(--color--black-30);
    --color--border-checkbox: var(--color--grey-132);
    --color--border-dropdown: var(--color--black-30);
    --color--border-float: var(--color--black-30);
    --color--border-button: var(--color--black-50);
    --color--border-avatar: var(--color--black-10);
    --color--border-brand-normal: var(--color--brand-90);
    --color--border-brand-hover: var(--color--brand-80);
    --color--border-brand-hover-secondary: #a9f;
    --color--border-brand-press: var(--color--brand-100);
    --color--border-brand-disable: var(--color--brand-40);
    --color--border-commentavatar: var(--color--brand-90);
    --color--border-bm-button-secondary: var(--color--black-70);
    --color--border-bm-avatar: var(--color--black-20);
    --color--border-bm-note: #f5dc4e;
    --color--border-bm-card: var(--color--grey-40);
    --color--bg-mask-primary: var(--color--black-100);
    --color--bg-mask-secondary: var(--color--black-40);
    --color--bg-input: var(--color--grey-10);
    --color--bg-input-hover: var(--color--grey-20);
    --color--bg-input-disable: var(--color--black-10);
    --color--border-input: var(--color--black-40);
    --color--border-input-focus: var(--color--brand-90);
    --color--border-input-error: var(--color--red-90);
    --color--bg-scrollbar-normal: var(--color--black-60);
    --color--bg-scrollbar-hover: var(--color--black-80);
    --color--bg-tips-primary: var(--color--black-140);
    --color--bg-tips-hover: var(--color--black-130);
    --color--bg-bm-tips-secondary: var(--color--grey-132);
    --color--text-brand-ontips: var(--color--brand-80);
    --color--bg-slider: var(--color--grey-30);
    --color--bg-slider-active: var(--color--brand-90);
    --color--bg-onslider-normal: var(--color--white-00);
    --color--bg-on-slider-active: var(--color--brand-90);
    --color--bg-popover: var(--color--white-00);
    --color--border-popover: var(--color--black-10);
    --color--bg-toast: var(--color--black-140);
    --color--border-toast: var(--color--grey-134);
    --color--border-toast-secondary: var(--color--white-130);
    --color--bg-stepper: var(--color--white-00);
    --color--icon-onstepper-normal: var(--color--grey-60);
    --color--icon-onstepper-hover: var(--color--grey-140);
    --color--multiplayer-brand: var(--color--brand-90);
    --color--multiplayer-purple: var(--color--purple-90);
    --color--multiplayer-orange: var(--color--orange-90);
    --color--multiplayer-cyan: var(--color--cyan-90);
    --color--multiplayer-blue: var(--color--blue-90);
    --color--multiplayer-magenta: var(--color--magenta-90);
    --color--bg-loading-primary: var(--color--grey-110);
    --color--bg-loading-secondary: var(--color--black-110);
    --color--bg-optionstrip-normal: var(--color--grey-10);
    --color--bg-optionstrip-active: var(--color--white-00);
    --color--bg-switch-normal: var(--color--grey-70);
    --color--bg-switch-disable: var(--color--grey-40);
    --color--bg-switch-brand-normal: var(--color--brand-90);
    --color--bg-switch-brand-disable: var(--color--brand-40);
    --color--text-tag-brand: var(--color--brand-100);
    --color--text-tag-green: var(--color--green-100);
    --color--text-tag-red: var(--color--red-100);
    --color--text-tag-orange: var(--color--orange-100);
    --color--text-tag-yellow: var(--color--yellow-100);
    --color--text-tag-blue: var(--color--blue-100);
    --color--text-tag-purple: var(--color--purple-100);
    --color--bg-tag-brand-primary: var(--color--brand-90);
    --color--bg-tag-brand-secondary: var(--color--brand-tsp-20);
    --color--bg-tag-green-primary: var(--color--green-90);
    --color--bg-tag-green-secondary: var(--color--green-tsp-20);
    --color--bg-tag-red-primary: var(--color--red-90);
    --color--bg-tag-red-secondary: var(--color--red-tsp-20);
    --color--bg-tag-orange-primary: var(--color--orange-90);
    --color--bg-tag-orange-secondary: var(--color--orange-tsp-20);
    --color--bg-tag-yellow-primary: var(--color--yellow-90);
    --color--bg-tag-yellow-secondary: var(--color--yellow-tsp-20);
    --color--bg-tag-blue-primary: var(--color--blue-90);
    --color--bg-tag-blue-secondary: var(--color--blue-tsp-20);
    --color--bg-tag-purple-primary: var(--color--purple-90);
    --color--bg-tag-purple-secondary: var(--color--purple-tsp-20);
    --color--bg-tag-grey-primary: var(--color--grey-90);
    --color--bg-tag-grey-secondary: var(--color--black-30);
    --color--bg-bm-refer-blue: rgba(47, 157, 254, .15);
    --color--bg-bm-refer-orange: rgba(242, 117, 0, .3);
    --color--bg-bm-refer-grey: var(--color--black-20);
    --color--border-bm-refer-primary: #2f9dfe;
    --color--border-bm-refer-secondary: rgba(47, 157, 254, .5);
    --color--border-bm-refer-secondary-active: #f27500;
    --color--border-bm-refer-secondary-normal: #ffb366;
    --color--border-bm-refer-brand: var(--color--brand-90);
    --color--bg-bm-label-red: rgba(253, 211, 188, .8);
    --color--bg-bm-label-yellow: rgba(254, 243, 164, .8);
    --color--bg-bm-label-blue: rgba(192, 233, 255, .8);
    --color--bg-bm-label-grey: var(--color--black-30);
    --color--bg-bm-label-orange: rgba(254, 227, 162, .8);
    --color--bg-bm-label-green: rgba(188, 247, 198, .8);
    --color--bg-bm-label-lake-green: rgba(180, 242, 222, .8);
    --color--bg-bm-label-pink: rgba(255, 207, 213, .8);
    --color--bg-bm-label-purple: rgba(247, 206, 251, .8);
    --color--bg-bm-label-primary: var(--color--white-70);
    --color--bg-bm-label-secondary: var(--color--white-40);
    --color--icon-bm-label-red: #f26957;
    --color--icon-bm-label-yellow: #f0cc18;
    --color--icon-bm-label-blue: #48a0f7;
    --color--icon-bm-label-grey: #a2a4a8;
    --color--bg-vote: var(--color--grey-20);
    --shadow-s: 0px 2px 8px rgba(25, 25, 26, .12), 0px 0px 1px rgba(25, 25, 26, .08);
    --shadow-m: 0px 6px 20px rgba(25, 25, 26, .06), 0px 2px 12px rgba(25, 25, 26, .04);
    --shadow-l: 0px 8px 24px rgba(25, 25, 26, .06), 0px 4px 16px rgba(25, 25, 26, .04), 0px 0px 4px rgba(25, 25, 26, .04);
    --shadow-xl: 0px 12px 40px rgba(20, 36, 92, .07), 0px 0px 1px rgba(0, 0, 0, .1), 0px 0px 10px rgba(20, 36, 92, .03);
    --color--video-center-bg: rgba(6, 13, 20, .5);
    --color--video-center-bg-hover: #6d7eff;
    --color--video-center-border: rgba(255, 255, 255, .19);
    --color--video-controls: rgba(255, 255, 255, .91);
    --color--video-controls-bg: rgba(6, 8, 10, .3);
    --color--video-controls-progress: rgba(255, 255, 255, .55);
    --color--label-bg__primary: var(--color--brand-20);
    --size--icon-box--icon: 19px;
    --size--icon-box--emoji: 16px;
    --color--bg-bm-navigation__active: var(--color--black-20);
    --mm-default-icon-color: var(--color--icon-primary);
    --icon-shape-stroke-color: #19191a;
    --icon-shape--bg-color: #fff;
}